In [9]:
print('Hello World')

Hello World

In [10]:
name = input("Enter the name: ")
marks = input("Enter the marks: ")
subject = input("Enter the subject: ")

print("name:",name,"marks:",marks,"subject:",subject)

print("name: {} marks: {} subject: {}".format(name,marks,subject))

print(f"name:",{name},"marks:",{marks},"subject:",{subject})

name: sonu marks: 100 subject: python
name: sonu marks: 100 subject: python
name: {'sonu'} marks: {'100'} subject: {'python'}

In [4]:
range = range(10)
print(list(range))

TypeError: 'list' object is not callable

In [2]:
range = list(range(10))
print(range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
var_data = 10+20j
print(type(var_data))

<class 'complex'>

In [ ]:
list = [10, 20, 30, 40, 50]
print(type(list))

<class 'list'>

In [1]:
numbers = list(range(5))
print(numbers)

[0, 1, 2, 3, 4]

In [7]:
tuple = (10, 20, 30)
print(type(tuple))

<class 'tuple'>

In [10]:
var_data = {10, 20, 30}
print(type(var_data))

<class 'set'>

In [14]:
var_data = {'a': 'keyvalue','b': 'pair'}
print(type(var_data))

<class 'dict'>

In [16]:
var_data = ([10, 20, 30, 40, 50])
print(type(var_data))

<class 'list'>

In [18]:
var_data = 'Sonu'
print(type(var_data))

<class 'str'>

In [13]:
# program for guess the number game
import random

guess = int(input("enter any number"))
random_num = random.randint(1, 10)
print(random_num)

if guess == random_num:
    print('You found the number')
elif guess > random_num:
    print('Your too far!')
elif guess < random_num:
    print('Your too low!')
else:
    print('Your out of range')

6
You found the number

In [ ]:
user_name = 'sonu'
pwd = 12345

uname = input('Enter the username: ')
upwd = int(input('Enter the password: '))

if user_name == uname and pwd == upwd :
    print('Login success')
elif user_name == uname or pwd == upwd:
    if user_name == uname and pwd != upwd:
        print('Please enter the correct username')
    elif user_name != uname and pwd == upwd:
        print('Please enter the correct password')
else:
    print('Invalid credentials')

In [22]:
num1 = 10
num2 = 20

print('Before swaping the number', num1, num2)

num3 = num1
num1 = num2
num2 = num3


print('After swaping the numbers', num1, num2)

Before swaping the number 10 20
After swaping the numbers 20 10

In [10]:
num = list(range(0,10))
print(num)

TypeError: 'list' object is not callable

In [3]:
num = list(range(0,10))
print(num)

TypeError: 'list' object is not callable

In [4]:
list = list(range(1, 10))
print(list)

TypeError: 'list' object is not callable

In [7]:
print(list(range(5)))

TypeError: 'list' object is not callable

In [24]:
lists = [1, 5, 100, 200, 500, 1000, 1050]
result = 0
for list in lists:
    result += list
print(result)

2856

In [ ]:
for i in range(3):
    print('Hello World')

Hello World
Hello World
Hello World

In [2]:
i = 0
while True:
    print('hello world')
    i += 1
    if i == 3:
        break

hello world
hello world
hello world

In [1]:
print('hello world')

hello world

In [5]:
list = [10, 20, 30, 40, 50]
result = 0

while True:
    for i in list:
        result += i
    print(result)
    break

150

In [14]:
multiply_num = int(input('Enter the Table to Multiply'))

if multiply_num >= 1:
    for i in  range(1, 11):
        print(multiply_num, 'X', i, '=', multiply_num*i)
else:
    print('Enter valid number')

Enter valid number

In [16]:
fruits = ["apple", "banana", "mango"]

fruits.pop(0)

print(fruits)

['banana', 'mango']

In [19]:
list = [70, 20, 90, 30, 10]

list.sort()
print(list)

[10, 20, 30, 70, 90]

In [20]:
list = [70, 20, 90, 30, 10]
list.sort(reverse=True)
print(list)

[90, 70, 30, 20, 10]

In [13]:
grocery_list = ['milk', 'eggs', 'Bread', 'Jam', 'cerals']

print(grocery_list[::-1])

['cerals', 'Jam', 'Bread', 'eggs', 'milk']

In [14]:
lst_comp = [i for i in range(0,10,2)]
print(lst_comp)

[0, 2, 4, 6, 8]

In [34]:
num = []
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [31]:
lst_comp = [1, 2, 3, 4, 5]
print(lst_comp)
for i in lst_comp:
    print(i)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [ ]:
list = [i for i in range(0,10,2)]
print(list)

[0, 2, 4, 6, 8]

In [37]:
list_comp = [i for i in range(10) if i%2==0]
print(list_comp)

[0, 2, 4, 6, 8]

In [38]:
Tuples  = 1, 2, 3
print(type(Tuples))

<class 'tuple'>

In [60]:
Tuples = (1)
print(type(Tuples))

<class 'int'>

In [61]:
Tuples = ('Yellow',20,'Red')
a, b, c = Tuples
print(a)
print(b)
print(c)

Yellow
20
Red

In [ ]:
stu_num = int(input('enter the number of students'))

students = {}

for i in stu_num():
    input('Enter the student name')
    input('Enter the student marks')

    students['name'] = ['marks']

print(students)

TypeError: 'str' object is not callable

In [15]:
students_list = int(input('Enter the number of student:'))

Marks_card = {}

for student in range(students_list):
    name = input('enter the student name')
    marks = input('enter the student marks')
    Marks_card[name] = [marks]
print(Marks_card)

{'sonu': ['100'], 'monu': ['100'], 'pawan': ['100']}

In [7]:
multiline = """I am studying python programming 
language in besant technoloiges"""

print(multiline)

I am studying python programming
language in besant technoloiges

In [11]:
multiline.replace("besant","BDreamz")

'I am studying python programming \nlanguage in BDreamz technoloiges'

In [15]:
multiline.capitalize()
multiline.upper()
multiline.find('python')

14

In [17]:
dob = "20-10-1995"
new = dob.split(sep='-')
print(new)

['20', '10', '1995']

TypeError: ord() expected string of length 1, but int found

In [19]:
for i in range(65,91):
    print(i)

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [ ]:
'I can\'t come tommrow'

In [23]:
word = "12738dhfahg"
alpha = 0
num = 0

for char in word:
    if char.isalpha():
        alpha += 1
    if char.isdigit():
        num += 1

print(alpha, num)

6 5

In [ ]:
def exp(a, b):
    result = a * b
    return result

print(exp(a=10, b=2)) # keyword arguments
print(exp(b=2, a=10))

20
20

In [6]:
def calculator(a, b, c):
    add = a + b

    sub = a - b
          
    div = a / c

    return add

result = calculator(10, 20, 30)
print(result)
print('*'*10)
calculator(100, 200, 300)
print('*'*10)
calculator(65, 947, 684) # positional arguments

30
**********
**********

1012

In [ ]:
def calc(a,b):
    c = a + b
    return c

print(calc(65,64)) # way of writing def function

129

In [ ]:
res = (lambda a,b: a+b)(65,64)
print(res) # way of writing Lambda function

129

In [ ]:
addnum_lambda = (lambda a,b: a+b) # coverting lambda function in reuseable
print(addnum_lambda(1,2))
print(addnum_lambda(1,20))
print(addnum_lambda(10,2))

3
21
12

In [ ]:
def factorial_recursive(n):
    """Calculate factorial using recursion"""
    if n == 0:
        result = 1
    else:
        result = n * factorial_recursive(n - 1)# 5 * 4 
    return result

n = 5
res = factorial_recursive(n)
print(f'The factorial of {n} is {res}')  # 120

The factorial of 5 is 120

In [11]:
students = int(input('enter the name of students'))

marks = []

for i in students:
    marks = (input('enter the student marks'))
    print(marks)

TypeError: 'int' object is not iterable

In [3]:
grocery_list = ['milk', 'eggs', 'Bread', 'Jam', 'cerals']   
print(grocery_list[1:3])

['eggs', 'Bread']

In [10]:
num = [10, 20, 30, 40, 50]

for i in num:
    if i == 20:
        continue
    elif i > 40:
        break
    print(i)

10
30
40

In [12]:
num = [10, 20, 30, 40, 50]
result = ''

for i in num:
    result = i + i
print(result)

100

In [22]:
text = 'hello world'
i = 11
while i > 0 or i == len(text):
    print(text)
    i -= 1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [23]:
text = 'hello world'
i = 11
while i > 0 or i == len(text):
    print(text)
    i -= 1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [33]:
num = [10, 20, 30, 40, 50]

result = 0

while True:
    for i in num:
        result += i
    print(result)
    break

150

In [37]:
table = int(input('enter the multiple table you need'))

for i in range(1,11):
    print(f"{table} X {i} = {table*i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [42]:
atuple = (10,20,30)

print(type(tuple))

<class 'tuple'>

In [ ]:
atuple = ('yellow',30,'red') # list unpacking

a, b, c = atuple

print(b)

30

In [ ]:
set = {1, 2, 3, 4, 5, 5} # does not display duplicates

print(type(set))
print(set)

<class 'set'>
{1, 2, 3, 4, 5}

In [48]:
word = 'AEROPLANE'
set = {word}

print(set)

{'AEROPLANE'}

In [60]:
word = {'A','E','R','O','P','L','A','N','E'}
vowels = {'A','E','I','O','U'}
unique_set = {}
print(word)
for i in set:
    for j in vowels:
        if i == j:
            print(i)

{'A', 'P', 'E', 'N', 'R', 'O', 'L'}
A
E
O

In [65]:
dict = {'key':'pair','cat':'cat_food','dog':'dog_food'}
dict['dog'] = 'pedigeri'
print(dict)

{'key': 'pair', 'cat': 'cat_food', 'dog': 'pedigeri'}

In [ ]:
def factorial_recursive(n):
    """Calculate factorial using recursion"""
    if n == 0:
        result = 1
    else:
        result = n * factorial_recursive(n - 1)# 5 * 4 
    return result
n = 5
res = factorial_recursive(n)
print(f'The factorial of {n} is {res}')  # 120

120
The factorial of 5 is 120

In [ ]:
import random

random.choice = 'Abc' # i need o/p like this AzbycX
s2 = 'Xyz'


for f in s1:
    print(f)

for s in s2:
    print(s)

A
b
c
X
y
z

In [20]:
import random

my_list = ["A","b","c"]

print(random.choice(my_list))

TypeError: 'str' object is not callable

In [21]:
import random

mylist = ["apple", "banana", "cherry"]

print(random.choice(mylist))

TypeError: 'str' object is not callable

In [5]:
import random

my_list = ["A","b","c"]

print(random.choice(my_list))

b

In [8]:
s1 = 'Abc' # AzbycX
s2 = 'Xyz'
s3 = s1[0] + s2[-1] + s1[1] + s2[1] + s1[-1] + s2[0]

print(s3)

AzbycX

In [2]:
import pandas as pd

pd.read_csv("https://raw.githubusercontent.com/Mahesh-martian/Data_analytics_project/refs/heads/main/raw_data/subscribers.csv")

,Unnamed: 0,user_id,age_group,city_tier,subscription_date,subscription_plan,last_active_date,plan_change_date,new_subscription_plan
0,0,UIDJS0000751588f,18-24,Tier 1,2024-06-10,Premium,NaN,NaN,NaN
1,1,UIDJS000093eeb86,18-24,Tier 1,2024-11-09,Free,NaN,NaN,NaN
2,2,UIDJS00010d7fa1e,25-34,Tier 1,2024-08-08,Free,NaN,NaN,NaN
3,3,UIDJS00013411a85,35-44,Tier 2,2024-05-31,VIP,NaN,NaN,NaN
4,4,UIDJS0003a3f54cf,35-44,Tier 1,2024-09-20,Premium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
44615,44615,UIDJSfffbb38249e,25-34,Tier 2,2024-11-12,Free,NaN,NaN,NaN
44616,44616,UIDJSfffbd759005,45+,Tier 1,2024-05-21,VIP,NaN,NaN,NaN
44617,44617,UIDJSfffebd3002b,25-34,Tier 1,2024-09-27,VIP,2024-10-29,NaN,NaN
44618,44618,UIDJSffff6698084,35-44,Tier 3,2024-10-12,VIP,NaN,NaN,NaN
44619,44619,UIDJSffffe298c56,25-34,Tier 2,2024-09-10,Free,NaN,NaN,NaN

In [ ]:
input_data = {'a':2, 'e':2, 'r':16, 'o':10, 'p':13, 'l':1, 'n':1}
# output should be sorted according to the numbers in the list
output_data = []

print(output_data)

NameError: name 'a' is not defined

In [7]:
data = [1, 2, 4, 7, 9, 12, 3]

sorted = data.sort()

print(data)

[1, 2, 3, 4, 7, 9, 12]

In [13]:
input_data = {'a':2, 'e':2, 'r':16, 'o':10, 'p':13, 'l':1, 'n':1}
# output should be sorted according to the numbers in the list

result = (lambda data: sorted(input_data.items(), key = lambda x: x[1]))(input_data)
print(result)        




# output_data = dict(sorted(input_data.items()))
# print(output_data)

# print(input_data.items())

# for i in input_data:
#     print(i)

# print(input_data)

[('l', 1), ('n', 1), ('a', 2), ('e', 2), ('o', 10), ('p', 13), ('r', 16)]

In [1]:
class car:
    def __init__(self, name, model, color):
        self.name = name
        self.model = model
        self.color = color

    def display(self):
        print(f"Name: {self.name}")
        print(f"Model: {self.model}")
        print(f"Color: {self.color}")

# creating the object 
# object_name = maruthi_800
# class_name = car

maruthi_800 = car(name='maruthi_800',model='1 stroke',color='white')

# accessing the attributes and method

# object_name.attribute
print(maruthi_800.color)
maruthi_800.display()
print('*'*50)

white
Name: maruthi_800
Model: 1 stroke
Color: white
**************************************************

In [5]:
class mobile:
    def __init__(self, name, model, price):
        self.name = name
        self.model = model
        self.price = price

    def display(self):
        print(f"name: {self.name}")
        print(f"model: {self.model}")
        print(f"price: {self.price}")

samsung = mobile(name='samsung',model='s25',price='49999')
Iphone = mobile(name='Iphone',model='17pro_max',price='129000')
vivo = mobile(name='vivo',model='x200',price='79999')

samsung.display()
print('*'*50)
display(Iphone.model)

name: samsung
model: s25
price: 49999
**************************************************

'17pro_max'

In [ ]:
class Fruit:
    category = "Edible" # class variables
    fruit_count = 0 # static variable

@staticmethod
def general_info():
    print("Fruit are nutritious and healthy")

In [ ]:
class GrandPa:
    def __init__(self):
        print("GrandPa")

class Father(GrandPa):
    def __init__(self):
        print("Father")

class Mother(GrandPa):
    def __init__(self):
        print("Mother")

class child

In [2]:
# example for method overriding 

class parent:

    def car(self):
        print("maruti 800")

    def land(self):
        print("doing agriculture")

class child(parent):

    def moblie(self):
        print("Iphone")

    def land(self):
        print("appartment")

    def car(self):
        print("modified maruthi 800")

c1 = child()
c1.moblie()
c1.land()
c1.car()

Iphone
appartment
modified maruthi 800

In [2]:
number1 = 40
number2 = 30

number3 = number1  * number2
if number3 <= 1000:
    print(number3)
else:
    number4 = number1 + number2
    print(number4)

70

In [4]:
num = range (0,10)
print(num)

range(0, 10)

In [17]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

for i in range (1, 11):
    sum = previous_num + i
    print("Current_number = ", i ,"Previous_number", previous_num, "Sum = ", sum)
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current_number =  1 Previous_number 0 Sum =  1
Current_number =  2 Previous_number 1 Sum =  3
Current_number =  3 Previous_number 2 Sum =  5
Current_number =  4 Previous_number 3 Sum =  7
Current_number =  5 Previous_number 4 Sum =  9
Current_number =  6 Previous_number 5 Sum =  11
Current_number =  7 Previous_number 6 Sum =  13
Current_number =  8 Previous_number 7 Sum =  15
Current_number =  9 Previous_number 8 Sum =  17
Current_number =  10 Previous_number 9 Sum =  19

In [14]:
for i in range (0,-10):
    print(i)

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.5 MB 3.4 MB/s eta 0:00:05
   ---- ----------------------------------- 1.8/16.5 MB 3.7 MB/s eta 0:00:04
   ------ --------------------------------- 2.6/16.5 MB 3.4 MB/s eta 0:00:05
   -------- ------------------------------- 3.7/16.5 MB 3.7 MB/s eta 0:00:04
   ---------- ----------------------------- 4.2/16.5 MB 3.5 MB/s eta 0:00:04
   ----------- ---------------------------- 4.7/16.5 MB 3.6 MB/s eta 0:00:04
   ------------ --------------------------- 5.2/16.5 MB 3.3 MB/s eta 0:00:04
   ------------- -------------------------- 5.8/16.5 MB 3.2 MB/s eta 0:00:04
   ---------------- ----------------------- 6.8/16.5 MB 3.4 MB/s eta 0:00:03
   ----------------- ---------------------- 7.3/16.5 MB 3.3 MB/s eta 0:00:03
   ------------------ --------------------- 7.6/16.5 MB 3.3 MB/s eta 0:00:03
   -------------------- ------------------- 8.4/16.5 MB 3.2 MB/s eta 0:00:03
   ---------------------- ----------------- 9.2/16.5 MB 3.2 MB/s eta 0:00:03
   ------------------------ --------------- 10.0/16.5 MB 3.3 MB/s eta 0:00:02
   ------------------------- -------------- 10.5/16.5 MB 3.2 MB/s eta 0:00:02
   --------------------------- ------------ 11.5/16.5 MB 3.3 MB/s eta 0:00:02
   ------------------------------ --------- 12.6/16.5 MB 3.5 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.5 MB 3.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.5 MB 3.5 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 3.4 MB/s  0:00:04
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import mysql.connector

# Establish the connection
connection = mysql.connector.connect(
    host="localhost",       # Replace with your database host
    user="root",   # Replace with your MySQL username
    password="sonumysql@123", # Replace with your MySQL password
    database="youtube_db"  # Replace with your database name
)

# Check if the connection is successful
if connection.is_connected():
    print("Connected to the database!")

Connected to the database!

In [4]:
# Create a cursor object
cursor = connection.cursor()

# Execute a query
cursor.execute("SELECT * FROM youtube_db.users")

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

(1, 'sonu', 'India')
(2, 'techguru', 'USA')
(3, 'musiclover', 'UK')