In [9]:
print('Hello World')

Hello World

In [10]:
name = input("Enter the name: ")
marks = input("Enter the marks: ")
subject = input("Enter the subject: ")

print("name:",name,"marks:",marks,"subject:",subject)

print("name: {} marks: {} subject: {}".format(name,marks,subject))

print(f"name:",{name},"marks:",{marks},"subject:",{subject})

name: sonu marks: 100 subject: python
name: sonu marks: 100 subject: python
name: {'sonu'} marks: {'100'} subject: {'python'}

In [4]:
range = range(10)
print(list(range))

TypeError: 'list' object is not callable

In [2]:
range = list(range(10))
print(range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
var_data = 10+20j
print(type(var_data))

<class 'complex'>

In [ ]:
list = [10, 20, 30, 40, 50]
print(type(list))

<class 'list'>

In [1]:
numbers = list(range(5))
print(numbers)

[0, 1, 2, 3, 4]

In [7]:
tuple = (10, 20, 30)
print(type(tuple))

<class 'tuple'>

In [10]:
var_data = {10, 20, 30}
print(type(var_data))

<class 'set'>

In [14]:
var_data = {'a': 'keyvalue','b': 'pair'}
print(type(var_data))

<class 'dict'>

In [16]:
var_data = ([10, 20, 30, 40, 50])
print(type(var_data))

<class 'list'>

In [18]:
var_data = 'Sonu'
print(type(var_data))

<class 'str'>

In [13]:
# program for guess the number game
import random

guess = int(input("enter any number"))
random_num = random.randint(1, 10)
print(random_num)

if guess == random_num:
    print('You found the number')
elif guess > random_num:
    print('Your too far!')
elif guess < random_num:
    print('Your too low!')
else:
    print('Your out of range')

6
You found the number

In [ ]:
user_name = 'sonu'
pwd = 12345

uname = input('Enter the username: ')
upwd = int(input('Enter the password: '))

if user_name == uname and pwd == upwd :
    print('Login success')
elif user_name == uname or pwd == upwd:
    if user_name == uname and pwd != upwd:
        print('Please enter the correct username')
    elif user_name != uname and pwd == upwd:
        print('Please enter the correct password')
else:
    print('Invalid credentials')

In [22]:
num1 = 10
num2 = 20

print('Before swaping the number', num1, num2)

num3 = num1
num1 = num2
num2 = num3


print('After swaping the numbers', num1, num2)

Before swaping the number 10 20
After swaping the numbers 20 10

In [10]:
num = list(range(0,10))
print(num)

TypeError: 'list' object is not callable

In [3]:
num = list(range(0,10))
print(num)

TypeError: 'list' object is not callable

In [4]:
list = list(range(1, 10))
print(list)

TypeError: 'list' object is not callable

In [7]:
print(list(range(5)))

TypeError: 'list' object is not callable

In [24]:
lists = [1, 5, 100, 200, 500, 1000, 1050]
result = 0
for list in lists:
    result += list
print(result)

2856

In [ ]:
for i in range(3):
    print('Hello World')

Hello World
Hello World
Hello World

In [2]:
i = 0
while True:
    print('hello world')
    i += 1
    if i == 3:
        break

hello world
hello world
hello world

In [1]:
print('hello world')

hello world

In [5]:
list = [10, 20, 30, 40, 50]
result = 0

while True:
    for i in list:
        result += i
    print(result)
    break

150

In [14]:
multiply_num = int(input('Enter the Table to Multiply'))

if multiply_num >= 1:
    for i in  range(1, 11):
        print(multiply_num, 'X', i, '=', multiply_num*i)
else:
    print('Enter valid number')

Enter valid number

In [16]:
fruits = ["apple", "banana", "mango"]

fruits.pop(0)

print(fruits)

['banana', 'mango']

In [19]:
list = [70, 20, 90, 30, 10]

list.sort()
print(list)

[10, 20, 30, 70, 90]

In [20]:
list = [70, 20, 90, 30, 10]
list.sort(reverse=True)
print(list)

[90, 70, 30, 20, 10]

In [13]:
grocery_list = ['milk', 'eggs', 'Bread', 'Jam', 'cerals']

print(grocery_list[::-1])

['cerals', 'Jam', 'Bread', 'eggs', 'milk']

In [14]:
lst_comp = [i for i in range(0,10,2)]
print(lst_comp)

[0, 2, 4, 6, 8]

In [34]:
num = []
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [31]:
lst_comp = [1, 2, 3, 4, 5]
print(lst_comp)
for i in lst_comp:
    print(i)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [ ]:
list = [i for i in range(0,10,2)]
print(list)

[0, 2, 4, 6, 8]

In [37]:
list_comp = [i for i in range(10) if i%2==0]
print(list_comp)

[0, 2, 4, 6, 8]

In [38]:
Tuples  = 1, 2, 3
print(type(Tuples))

<class 'tuple'>

In [60]:
Tuples = (1)
print(type(Tuples))

<class 'int'>

In [61]:
Tuples = ('Yellow',20,'Red')
a, b, c = Tuples
print(a)
print(b)
print(c)

Yellow
20
Red

In [ ]:
stu_num = int(input('enter the number of students'))

students = {}

for i in stu_num():
    input('Enter the student name')
    input('Enter the student marks')

    students['name'] = ['marks']

print(students)

TypeError: 'str' object is not callable

In [15]:
students_list = int(input('Enter the number of student:'))

Marks_card = {}

for student in range(students_list):
    name = input('enter the student name')
    marks = input('enter the student marks')
    Marks_card[name] = [marks]
print(Marks_card)

{'sonu': ['100'], 'monu': ['100'], 'pawan': ['100']}

In [7]:
multiline = """I am studying python programming 
language in besant technoloiges"""

print(multiline)

I am studying python programming
language in besant technoloiges

In [11]:
multiline.replace("besant","BDreamz")

'I am studying python programming \nlanguage in BDreamz technoloiges'

In [15]:
multiline.capitalize()
multiline.upper()
multiline.find('python')

14

In [17]:
dob = "20-10-1995"
new = dob.split(sep='-')
print(new)

['20', '10', '1995']

TypeError: ord() expected string of length 1, but int found

In [19]:
for i in range(65,91):
    print(i)

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [ ]:
'I can\'t come tommrow'

In [23]:
word = "12738dhfahg"
alpha = 0
num = 0

for char in word:
    if char.isalpha():
        alpha += 1
    if char.isdigit():
        num += 1

print(alpha, num)

6 5

In [ ]:
def exp(a, b):
    result = a * b
    return result

print(exp(a=10, b=2)) # keyword arguments
print(exp(b=2, a=10))

20
20

In [6]:
def calculator(a, b, c):
    add = a + b

    sub = a - b
          
    div = a / c

    return add

result = calculator(10, 20, 30)
print(result)
print('*'*10)
calculator(100, 200, 300)
print('*'*10)
calculator(65, 947, 684) # positional arguments

30
**********
**********

1012

In [ ]:
def calc(a,b):
    c = a + b
    return c

print(calc(65,64)) # way of writing def function

129

In [ ]:
res = (lambda a,b: a+b)(65,64)
print(res) # way of writing Lambda function

129

In [ ]:
addnum_lambda = (lambda a,b: a+b) # coverting lambda function in reuseable
print(addnum_lambda(1,2))
print(addnum_lambda(1,20))
print(addnum_lambda(10,2))

3
21
12

In [ ]:
def factorial_recursive(n):
    """Calculate factorial using recursion"""
    if n == 0:
        result = 1
    else:
        result = n * factorial_recursive(n - 1)# 5 * 4 
    return result

n = 5
res = factorial_recursive(n)
print(f'The factorial of {n} is {res}')  # 120

The factorial of 5 is 120

In [11]:
students = int(input('enter the name of students'))

marks = []

for i in students:
    marks = (input('enter the student marks'))
    print(marks)

TypeError: 'int' object is not iterable

In [3]:
grocery_list = ['milk', 'eggs', 'Bread', 'Jam', 'cerals']   
print(grocery_list[1:3])

['eggs', 'Bread']

In [10]:
num = [10, 20, 30, 40, 50]

for i in num:
    if i == 20:
        continue
    elif i > 40:
        break
    print(i)

10
30
40

In [12]:
num = [10, 20, 30, 40, 50]
result = ''

for i in num:
    result = i + i
print(result)

100

In [22]:
text = 'hello world'
i = 11
while i > 0 or i == len(text):
    print(text)
    i -= 1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [23]:
text = 'hello world'
i = 11
while i > 0 or i == len(text):
    print(text)
    i -= 1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [33]:
num = [10, 20, 30, 40, 50]

result = 0

while True:
    for i in num:
        result += i
    print(result)
    break

150

In [37]:
table = int(input('enter the multiple table you need'))

for i in range(1,11):
    print(f"{table} X {i} = {table*i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [42]:
atuple = (10,20,30)

print(type(tuple))

<class 'tuple'>

In [ ]:
atuple = ('yellow',30,'red') # list unpacking

a, b, c = atuple

print(b)

30

In [ ]:
set = {1, 2, 3, 4, 5, 5} # does not display duplicates

print(type(set))
print(set)

<class 'set'>
{1, 2, 3, 4, 5}

In [48]:
word = 'AEROPLANE'
set = {word}

print(set)

{'AEROPLANE'}

In [60]:
word = {'A','E','R','O','P','L','A','N','E'}
vowels = {'A','E','I','O','U'}
unique_set = {}
print(word)
for i in set:
    for j in vowels:
        if i == j:
            print(i)

{'A', 'P', 'E', 'N', 'R', 'O', 'L'}
A
E
O

In [65]:
dict = {'key':'pair','cat':'cat_food','dog':'dog_food'}
dict['dog'] = 'pedigeri'
print(dict)

{'key': 'pair', 'cat': 'cat_food', 'dog': 'pedigeri'}

In [ ]:
def factorial_recursive(n):
    """Calculate factorial using recursion"""
    if n == 0:
        result = 1
    else:
        result = n * factorial_recursive(n - 1)# 5 * 4 
    return result
n = 5
res = factorial_recursive(n)
print(f'The factorial of {n} is {res}')  # 120

120
The factorial of 5 is 120

In [ ]:
import random

random.choice = 'Abc' # i need o/p like this AzbycX
s2 = 'Xyz'


for f in s1:
    print(f)

for s in s2:
    print(s)

A
b
c
X
y
z

In [20]:
import random

my_list = ["A","b","c"]

print(random.choice(my_list))

TypeError: 'str' object is not callable

In [21]:
import random

mylist = ["apple", "banana", "cherry"]

print(random.choice(mylist))

TypeError: 'str' object is not callable

In [5]:
import random

my_list = ["A","b","c"]

print(random.choice(my_list))

b

In [8]:
s1 = 'Abc' # AzbycX
s2 = 'Xyz'
s3 = s1[0] + s2[-1] + s1[1] + s2[1] + s1[-1] + s2[0]

print(s3)

AzbycX

In [2]:
import pandas as pd

pd.read_csv("https://raw.githubusercontent.com/Mahesh-martian/Data_analytics_project/refs/heads/main/raw_data/subscribers.csv")

,Unnamed: 0,user_id,age_group,city_tier,subscription_date,subscription_plan,last_active_date,plan_change_date,new_subscription_plan
0,0,UIDJS0000751588f,18-24,Tier 1,2024-06-10,Premium,NaN,NaN,NaN
1,1,UIDJS000093eeb86,18-24,Tier 1,2024-11-09,Free,NaN,NaN,NaN
2,2,UIDJS00010d7fa1e,25-34,Tier 1,2024-08-08,Free,NaN,NaN,NaN
3,3,UIDJS00013411a85,35-44,Tier 2,2024-05-31,VIP,NaN,NaN,NaN
4,4,UIDJS0003a3f54cf,35-44,Tier 1,2024-09-20,Premium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
44615,44615,UIDJSfffbb38249e,25-34,Tier 2,2024-11-12,Free,NaN,NaN,NaN
44616,44616,UIDJSfffbd759005,45+,Tier 1,2024-05-21,VIP,NaN,NaN,NaN
44617,44617,UIDJSfffebd3002b,25-34,Tier 1,2024-09-27,VIP,2024-10-29,NaN,NaN
44618,44618,UIDJSffff6698084,35-44,Tier 3,2024-10-12,VIP,NaN,NaN,NaN
44619,44619,UIDJSffffe298c56,25-34,Tier 2,2024-09-10,Free,NaN,NaN,NaN

In [ ]:
input_data = {'a':2, 'e':2, 'r':16, 'o':10, 'p':13, 'l':1, 'n':1}
# output should be sorted according to the numbers in the list
output_data = []

print(output_data)

NameError: name 'a' is not defined

In [7]:
data = [1, 2, 4, 7, 9, 12, 3]

sorted = data.sort()

print(data)

[1, 2, 3, 4, 7, 9, 12]

In [13]:
input_data = {'a':2, 'e':2, 'r':16, 'o':10, 'p':13, 'l':1, 'n':1}
# output should be sorted according to the numbers in the list

result = (lambda data: sorted(input_data.items(), key = lambda x: x[1]))(input_data)
print(result)        




# output_data = dict(sorted(input_data.items()))
# print(output_data)

# print(input_data.items())

# for i in input_data:
#     print(i)

# print(input_data)

[('l', 1), ('n', 1), ('a', 2), ('e', 2), ('o', 10), ('p', 13), ('r', 16)]

In [9]:
class car:
    def __init__(self, name, model, color):
        self.name = name
        self.model = model
        self.color = color

    def display(self):
        print(f"Name: {self.name}")
        print(f"Model: {self.model}")
        print(f"Color: {self.color}")

# creating the object 
# object_name = maruthi_800
# class_name = car

maruthi_800 = car(name='maruthi_800',model='1 stroke',color='white')

# accessing the attributes and method

# object_name.attribute
print(maruthi_800.color)
maruthi_800.display()
print('*'*50)

white
Name: maruthi_800
Model: 1 stroke
Color: white
**************************************************

In [5]:
class mobile:
    def __init__(self, name, model, price):
        self.name = name
        self.model = model
        self.price = price

    def display(self):
        print(f"name: {self.name}")
        print(f"model: {self.model}")
        print(f"price: {self.price}")

samsung = mobile(name='samsung',model='s25',price='49999')
Iphone = mobile(name='Iphone',model='17pro_max',price='129000')
vivo = mobile(name='vivo',model='x200',price='79999')

samsung.display()
print('*'*50)
display(Iphone.model)

name: samsung
model: s25
price: 49999
**************************************************

'17pro_max'

In [ ]:
class Fruit:
    category = "Edible" # class variables
    fruit_count = 0 # static variable

@staticmethod
def general_info():
    print("Fruit are nutritious and healthy")

In [ ]:
class GrandPa:
    def __init__(self):
        print("GrandPa")

class Father(GrandPa):
    def __init__(self):
        print("Father")

class Mother(GrandPa):
    def __init__(self):
        print("Mother")

class child

In [2]:
# example for method overriding 

class parent:

    def car(self):
        print("maruti 800")

    def land(self):
        print("doing agriculture")

class child(parent):

    def moblie(self):
        print("Iphone")

    def land(self):
        print("appartment")

    def car(self):
        print("modified maruthi 800")

c1 = child()
c1.moblie()
c1.land()
c1.car()

Iphone
appartment
modified maruthi 800

In [2]:
number1 = 40
number2 = 30

number3 = number1  * number2
if number3 <= 1000:
    print(number3)
else:
    number4 = number1 + number2
    print(number4)

70

In [4]:
num = range (0,10)
print(num)

range(0, 10)

In [17]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

for i in range (1, 11):
    sum = previous_num + i
    print("Current_number = ", i ,"Previous_number", previous_num, "Sum = ", sum)
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current_number =  1 Previous_number 0 Sum =  1
Current_number =  2 Previous_number 1 Sum =  3
Current_number =  3 Previous_number 2 Sum =  5
Current_number =  4 Previous_number 3 Sum =  7
Current_number =  5 Previous_number 4 Sum =  9
Current_number =  6 Previous_number 5 Sum =  11
Current_number =  7 Previous_number 6 Sum =  13
Current_number =  8 Previous_number 7 Sum =  15
Current_number =  9 Previous_number 8 Sum =  17
Current_number =  10 Previous_number 9 Sum =  19

In [14]:
for i in range (0,-10):
    print(i)

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.5 MB 3.4 MB/s eta 0:00:05
   ---- ----------------------------------- 1.8/16.5 MB 3.7 MB/s eta 0:00:04
   ------ --------------------------------- 2.6/16.5 MB 3.4 MB/s eta 0:00:05
   -------- ------------------------------- 3.7/16.5 MB 3.7 MB/s eta 0:00:04
   ---------- ----------------------------- 4.2/16.5 MB 3.5 MB/s eta 0:00:04
   ----------- ---------------------------- 4.7/16.5 MB 3.6 MB/s eta 0:00:04
   ------------ --------------------------- 5.2/16.5 MB 3.3 MB/s eta 0:00:04
   ------------- -------------------------- 5.8/16.5 MB 3.2 MB/s eta 0:00:04
   ---------------- ----------------------- 6.8/16.5 MB 3.4 MB/s eta 0:00:03
   ----------------- ---------------------- 7.3/16.5 MB 3.3 MB/s eta 0:00:03
   ------------------ --------------------- 7.6/16.5 MB 3.3 MB/s eta 0:00:03
   -------------------- ------------------- 8.4/16.5 MB 3.2 MB/s eta 0:00:03
   ---------------------- ----------------- 9.2/16.5 MB 3.2 MB/s eta 0:00:03
   ------------------------ --------------- 10.0/16.5 MB 3.3 MB/s eta 0:00:02
   ------------------------- -------------- 10.5/16.5 MB 3.2 MB/s eta 0:00:02
   --------------------------- ------------ 11.5/16.5 MB 3.3 MB/s eta 0:00:02
   ------------------------------ --------- 12.6/16.5 MB 3.5 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.5 MB 3.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.5 MB 3.5 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 3.4 MB/s  0:00:04
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import mysql.connector

# Establish the connection
connection = mysql.connector.connect(
    host="localhost",       # Replace with your database host
    user="root",   # Replace with your MySQL username
    password="sonumysql@123", # Replace with your MySQL password
    database="youtube_db"  # Replace with your database name
)

# Check if the connection is successful
if connection.is_connected():
    print("Connected to the database!")

Connected to the database!

In [4]:
# Create a cursor object
cursor = connection.cursor()

# Execute a query
cursor.execute("SELECT * FROM youtube_db.users")

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

(1, 'sonu', 'India')
(2, 'techguru', 'USA')
(3, 'musiclover', 'UK')

In [10]:
# example for exception handling

try:
    num1 = int(input("Enter the number one"))
    num2 = int(input("Enter the number two"))
    print("result =",num1/num2)
except ():
    print("inside ZeroDivisionError")

ZeroDivisionError: division by zero

In [2]:
try:
    number1 = 10
    number2 = 0
    print(number1/number2)
except(ZeroDivisionError):
    print("inside ZeroDivisionError")

inside ZeroDivisionError

In [12]:
try:
    num = int(input("Enter the number: "))
    print(num)
except(ValueError):
    print("It's a string")

It's a string

In [17]:
# open the file in read mode ('r')
try:
    with open('test.txt', 'r') as file:
        content = file.read()
        print(content)
except(FileNotFoundError):
    print("File Does Not Exists")

File Does Not Exists

In [33]:
s = '5'
i = int(s)
print(i)

TypeError: 'int' object is not callable

In [34]:
x = 1
a = str(x)
print(a)

TypeError: 'str' object is not callable

In [7]:
try:
    string_number = "111"
    integer_number = int(string_number)
    print(integer_number)  # Output: 123
except(ValueError):
    print("Enter a string nubmer")

111

In [11]:
try:
    num1 = int(input("enter the first number"))
    num2 = int(input("enter the second number"))
    print(num1 + num2)
except(ValueError):
    print("Invalid inputs given")

Invalid inputs given

In [ ]:
try:
    with open('sonu.txt','r') as file :
        content = file.read()
        def read_file(content):
            print(content)
    
    read_file(content)
except(FileNotFoundError):
    print("File not found")
except(IOError):
    print("other I/O error occurred")

File not found

In [ ]:
data_file = open('data.txt','r')
def read_file(file_name):
        content = file_name.read()
        return file_name

print(data_file)   
results = read_file(file_name=data_file)
# print(results)

<_io.TextIOWrapper name='data.txt' mode='r' encoding='cp1252'>
<_io.TextIOWrapper name='data.txt' mode='r' encoding='cp1252'>

In [32]:
try:   
    list = [1, 2, 3, 4, 5]
    print(list)
    element = int(input("Enter the index number you want to print"))
    print(list[element])
except IndexError:
    print("Wrong Indexing Number")
except ValueError:
    print("Enter the integer number")

[1, 2, 3, 4, 5]
Enter the integer number

In [77]:
try:
    my_list = []

    numbers = input("enter the numbers for the list")
    # my_list.append(numbers) 
    parts = numbers.split()

    for part in parts:
        my_list.append(int(part))

except ValueError:
    print(f"{part} Is not a interger so skip it")

print(my_list)

a Is not a interger so skip it
[1]

In [64]:
ran = input("enter the anything")

print(ran)

1 2 3 4 5

In [14]:
word = "PYnative"

index = word.index("PYnative")
print(index)

0

In [19]:
text = "Sonu"
index = text.index("o")
print(index)  # Output: 7

1

In [31]:
text = "PYnative"
print("Original String :",text)
print("Print only even index characters")
for t in text:
    index = text.index(t)
    if index % 2 == 0:
        print(text[index])

Original String : PYnative
Print only even index characters
P
n
t
v

In [ ]:
def remove_chars(word, n):
    results = word[:n]
    return results

print(remove_chars("sonu",))

In [ ]:
word = "Sonu"
print(size)
print(word[0:2])

AttributeError: 'str' object has no attribute 'len'

In [13]:
class car:
    def __init__(self, name, model, price):
        self.name = name
        self.model = model
        self.price = price

    def display(self):
        print(f"Name of Car {self.name} Model: {self.model} Price: {self.price}")


rolls = car("rolls", "1999", "100000")
print(rolls.price)
rolls.display()

100000
Name of Car rolls Model: 1999 Price: 100000

In [1]:
for i in range (0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
number = 6

while number > 5:
    number += 1
    print(number)
    break

7

In [7]:
my_list = [10, 20, 30, 40, 50]

for list in my_list:
    if list == 20:
        continue
    elif list >= 40:
        break
    else:
        print(list)

10
30

In [14]:
my_list = [10, 20 , 30, 40, 50]
result = 0
for list in my_list:
    result += list
    
print(result)

150

In [18]:
my_list = [10, 20 , 30, 40, 50]

result = 0

while True:
    for list in my_list:
        result += list
    print(result)
    break

150

In [ ]:
table = input("enter the table number")

for t in table:
    for j in range (1,11):
        print(t ," *", j ," ="  )

1
2
3
4
5
6
7
8
9
10

In [20]:
def remove_chars(word, n):
    # write your code
    end = len(word)
    return(word[n:end])
    

print("Removing characters from a string")
print(remove_chars("pynative", 4)) 
# output 'tive' first four characters are removed

print(remove_chars("pynative", 2)) 
# output 'native'

Removing characters from a string
tive
native

In [17]:
word = "Hello"


print(len(word))

5

In [23]:
word = "it is word"
print(len(word))
print(word[5:])

10
 word

In [31]:
numbers_x = [10, 20, 30, 40, 10]
print(numbers_x[1])

if(numbers_x[0] == numbers_x[-1]):
    print('True')
else:
    print('False')

20
True

In [37]:
my_lists = [10, 20, 33, 46, 55]
print("Given list is ", my_lists)
print("Divisible by 5")
for my_list in my_lists:
    if my_list % 5 == 0:
        print(my_list)

Given list is  [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [43]:
num1 = 5
num2 = 10

num3 = num2 / num1

print(num3)

2.0

In [33]:
str_x = "Emma is good developer. Emma is a writer"

find = str_x.count("Emma")


print(f"Emma appeared {find} times")

Emma appeared 2 times

In [ ]:
for i in range (6):
    for j in range (i):
        print(i, end=" ")

1 2 2 3 3 3 4 4 4 4 5 5 5 5 5

In [27]:
num = "545"
print(num)

reverse = num[::-1]

print(reverse)

if num == reverse:
    print("is palin", num)
else:
    print("is not palin")

545
545
is palin 545

In [45]:
num = int(input("enter three digit numbers"))

num = str(num)

reverse_num = num[::-1]

if num == reverse_num:
    print("It is a palindrome" , num)
else:
    print("It is a palindrome" , num)

It is a palindrome 545

In [47]:
num = ['5','4','6']

num.reverse()

print(num)

['6', '4', '5']

In [4]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

result_list = []

for list in list1:
    if list % 2 != 0:
        result_list.append(list)

for l in list2:
    if l % 2 == 0:
        result_list.append(l)

print("Final list is ", result_list)

Final list is  [25, 35, 40, 60, 90]

In [2]:
number = 7536
# Output 6 3 5 7

digit = number % 10
number = number // 10
three = number % 10
number = number // 10
two = number % 10
number = number // 10

print(digit, three, two, number, end=" ")

6 3 5 7

In [39]:
number = 7536
while number > 0:
    digit = number % 10
    number = number // 10
    print(digit, end=" ")

6 3 5 7

In [19]:
# income = int(input("Enter the your income i will calculate the income for you "))
income = 45000

first_part = income -(round((10000 / income) * 100, 2))
second_part = round((10000 / income) * 100, 2)
plus = (first_part + second_part) 
remaining = (income / income * 100) - plus

def calculate_income (first_part, second_part, remaining):
    print(f"income_tax is: {first_part * 0} + {second_part * 10/100} + {remaining * 20/100}")

calculate_income(first_part, second_part, remaining)





print(first_part)
print(second_part)
print(remaining)

income_tax is: 0.0 + 2.222 + -8980.0
44977.78
22.22
-44900.0

In [22]:
income = 45000

first = 10000
second = 10000
remaining = income - (first + second) 

# print(round(first * 0 / 100) + round(second * 10 / 100) + round(remaining * 20 / 100))
print(f"{first} * 0% {second} * 10% {remaining} * 20% = {round(first * 0 / 100) + round(second * 10 / 100) + round(remaining * 20 / 100)}")

10000 * 0% 10000 * 10% 25000 * 20% = 6000

In [30]:
income = 45000
tax_payable = 0

if income <= 10000:
    tax_payable = 0

elif income <= 20000:
    first = income - 10000
    tax_payable = first * 10 / 100

else:
    tax_payable = 0

    tax_payable = first * 10 / 100

    tax_payable += (income - 20000) * 20 / 100

print("The tax is",round(tax_payable))

The tax is 6000

In [50]:
# multipication of every table

table = 1

for i in range(1, 11):
    print(i, end=" ")
    for table in range(1, 11):
        multiply = table * i 
        print(multiply, end=" ")
    print('\n')

1 1 2 3 4 5 6 7 8 9 10

2 2 4 6 8 10 12 14 16 18 20

3 3 6 9 12 15 18 21 24 27 30

4 4 8 12 16 20 24 28 32 36 40

5 5 10 15 20 25 30 35 40 45 50

6 6 12 18 24 30 36 42 48 54 60

7 7 14 21 28 35 42 49 56 63 70

8 8 16 24 32 40 48 56 64 72 80

9 9 18 27 36 45 54 63 72 81 90

10 10 20 30 40 50 60 70 80 90 100

In [60]:
# Print a downward half-pyramid pattern of stars

for i in range(-0, -2):
    print(i)
    print("* " * 5)

In [ ]:
# Print a downward half-pyramid pattern of stars solution
numbers = [1, 2, 3, 4, 5]
numbers.sort(reverse=True)

for n in numbers:
    print("* "*n)

* * * * *
* * * *
* * *
* *
*

In [21]:
my_list = [1, 2, 3, 4, 6, 5]
my_list.sort(reverse=True)
print(my_list)

[6, 5, 4, 3, 2, 1]

In [33]:
for i in range(6, 0, -1):
    print(i)
    for j in range(0, i - 1):
        print("*", end=" ")
    print( )

6
* * * * *
5
* * * *
4
* * *
3
* *
2
*
1

In [31]:
size = ''
def exponent(base, exp):
    for i in range(exp):
        # global size
        # size = len(exp)  
        # print(size)  
        print(i)
    # print(f"{base} raises to the power of {exp}: ")
    print(f"{base} raises to the power of {exp}: {base**exp} i.e. ({base} *{base} *{base} *{base} *{base} = {base**exp})")
exponent(2,5)

0
1
2
3
4
2 raises to the power of 5: 32 i.e. (2 *2 *2 *2 *2 = 32)

In [24]:
my_list = [1, 2, 3, 4, 5]

my_string = "hello"

size = len(my_string)

print(size)

5

In [37]:
# palindrome number

my_list = list(input("Enter three digit number to check whether it is palindrome or Not: "))

reverse = my_list[::-1]

if my_list == reverse:
    print("It is palindrome")
else:
    print("It is not a palindrome")

It is palindrome

In [ ]:
# Generate Fibonacci series up to 15 terms
num = 5

sum = None

for i in range(0, 2):
    print(i)
    print(i, i)

0
0
1
2

In [6]:
# 5*4*3*2*1

number = 5
factorial_num = 1
while number > 1:
    factorial_num = factorial_num * number
    number = number - 1
    

print(factorial_num)

120

In [1]:
even_square = [i*i for i in range(200) if i % 2 == 0]

print(even_square)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000, 10404, 10816, 11236, 11664, 12100, 12544, 12996, 13456, 13924, 14400, 14884, 15376, 15876, 16384, 16900, 17424, 17956, 18496, 19044, 19600, 20164, 20736, 21316, 21904, 22500, 23104, 23716, 24336, 24964, 25600, 26244, 26896, 27556, 28224, 28900, 29584, 30276, 30976, 31684, 32400, 33124, 33856, 34596, 35344, 36100, 36864, 37636, 38416, 39204]

In [2]:
even_square = [i*i*i for i in range(200) if i % 2 == 0]

print(even_square)

[0, 8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000, 1061208, 1124864, 1191016, 1259712, 1331000, 1404928, 1481544, 1560896, 1643032, 1728000, 1815848, 1906624, 2000376, 2097152, 2197000, 2299968, 2406104, 2515456, 2628072, 2744000, 2863288, 2985984, 3112136, 3241792, 3375000, 3511808, 3652264, 3796416, 3944312, 4096000, 4251528, 4410944, 4574296, 4741632, 4913000, 5088448, 5268024, 5451776, 5639752, 5832000, 6028568, 6229504, 6434856, 6644672, 6859000, 7077888, 7301384, 7529536, 7762392]

In [3]:
def sonu ():
    print("Hello World")

sonu()

Hello World

In [4]:
def square(number):
    print(number ** 2)

square(2)

4

In [6]:
def sum(num1, num2):
    return num1 + num2

result = sum(4, 4)
print(result)
print(sum(10, 10))

8
20

In [8]:
def multiply(one, two):
    return one * two

print(multiply(8, 8))
print(multiply(8, '8'))
print(multiply(8, 'a'))

64
88888888
aaaaaaaa

In [12]:
import math

def circle_stats (radius):
    area_of_circle = round(math.pi * radius ** 2)
    circumference = round(2 * math.pi * radius)
    return area_of_circle, circumference

a, c = circle_stats(5)

print("Area:", a, "Circumference: ", c)

Area: 79 Circumference:  31

In [14]:
def greet(name = 'default_user'):
    return "Hello, " + name + " Developer"

greet()

'Hello, default_user Developer'

In [15]:
def add(a, b):
    return a + b

add(1, 2)

3

In [17]:
cube = lambda x : x ** 3

print(cube(6))

216

In [20]:
even_square = [x**2 for x in range(11) if x % 2 ==0]

print(even_square)

[0, 4, 16, 36, 64, 100]

In [ ]:
def sum_all(*args): # for multiple inputs args word doesnt matter the * matters you can give any name
    return sum(args)

print(sum_all(1, 2))
print(sum_all(1, 2, 3, 4, 5))
print(sum_all(1, 2, 3, 4, 5, 6 , 7, 8, 9))

3
15
45

In [2]:
def sum_all(*all): # for multiple inputs args word doesnt matter the * matters you can give any name
    return sum(all)

print(sum_all(1, 2))
print(sum_all(1, 2, 3, 4, 5))
print(sum_all(1, 2, 3, 4, 5, 6 , 7, 8, 9))

3
15
45

In [2]:
def print_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_kwargs(name="sonu", course="Fullstack Python")
print_kwargs(name="sonu")
print_kwargs(name="Amaresh", course="Fullstack Java", starter="Front-End")

name: sonu
course: Fullstack Python
name: sonu
name: Amaresh
course: Fullstack Java
starter: Front-End

In [6]:
def even_generator(limit):
    for i in range(2, limit+1, 2):
        yield i

for num in even_generator(10):
    print(num)

2
4
6
8
10

In [13]:
class Car:
    def __init__(self, Brand, model):
        self.Brand = Brand
        self.model = model

    def display(self):
        print(f"Brand = {self.Brand}")
        print(f"model = {self.model}")

my_car = Car("toyota","1988")
my_car.display()

Brand = toyota
model = 1988

In [16]:
class Form:
    def __init__(self, name, standard, join_date):
        self.name = name
        self.standard = standard
        self.join_date = join_date

student_1 = Form("Sonu", "10th", 2010)

print(student_1.name)

Sonu

In [ ]:
# Inheritants

class Car:
    total_cars = 0
    def __init__(self, Brand, model):
        self.__Brand = Brand # Encapsulation __private _protected normal = public
        self.__model = model
        Car.total_cars += 1

    def display_full(self):
        return (f"Name of car = {self.__Brand} and Model is {self.__model}")

    def fuel_type(self): #polymorphism
        return "Petrol or Diesel"
    
    @staticmethod # it does not rely on object and instance to run this function 
    def general_discription(): #static method
        return "Car means for transport"
    
    @property  # from you can't change the car model name it only read-only
    def model(self):
        return self.__model
    
class ElectricCar(Car): # inheritance
    def __init__(self, Brand, model, Battery_size): 
        super().__init__(Brand, model)
        self.Battery_size = Battery_size

    def fuel_type(self):
        return "Electric Charge"
    

my_tesla = ElectricCar("Tesla","Model S","80kwh")
print(my_tesla.display_full())
my_car = Car("BMW","Rolls Royce")
print(my_tesla.fuel_type())
print(my_car.fuel_type())
print(Car.total_cars)
print(my_car.general_discription())
print(Car.general_discription())
# my_car.model="Ghost" gave error # you can modify model untill you used @property method in Car class
print(my_car.display_full())
print(isinstance(my_tesla, Car)) # checks whether it is an instance of Car class Prove it!
print(isinstance(my_tesla, ElectricCar)) # checks whether it is also instance of Electric Class Prove it!

Name of car = Tesla and Model is Model S
Electric Charge
Petrol or Diesel
2
Car means for transport
Car means for transport
Name of car = BMW and Model is Rolls Royce
True
True